<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React Language Picker Component - whatdandoes.info</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <% if (process.env.NODE_ENV === 'production') { %>
      <!-- Matomo -->
      <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//matomo.whatdandoes.info/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', '2']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
      <!-- End Matomo Code -->
    <% } %>
  </head>
  <body>
    <div class="center">
      <h3>YOU can get me on board with SIL and Wycliffe for as little as $5/month!</h3>
      <% if (process.env.NODE_ENV === 'production') { %>
        <a href="https://www.patreon.com/bePatron?u=16503382"
           data-patreon-widget-type="become-patron-button">Become a Patron!</a>
        <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
      <% } %>
      <h1>React Language Picker Component</h1>
      <h2>&#11015;</h2>
      <main id="root"></main>
    </div>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
