body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input.search {
  margin-bottom: .5em;
}

.center {
  text-align: center;
}

.center h2 {
  color: red;
  font-size: 3em;
}

.center h3 {
  margin-top: 5em;
}

.language-list {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  text-align: left;
}

.language-table {
  width: 100%;
  background-color: white;
  margin-top: 2em;
  padding-bottom: 1em;
}

.language-table h1 {
  font-size: 1.25em;
  margin-top: 0;
}

.language-table footer {
  text-align: right;
}

.language-table footer .add-button {
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 3px;
  padding: .5em .75em;
}


@media only screen and (min-width: 48em) {
  .language-list {
    padding: 1em;
  }

  .language-table {
    padding: 1em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.language-list header {
  color: white;
  background-color: black;
}

.lang {
  display: grid;
  grid-template-columns: 2fr 1fr 5fr 2fr;
  grid-column-gap: 1em;
  margin-bottom: .25em;
}

.lang-name {
  grid-column: 1;
}

.lang-code {
  grid-column: 2;
}

.lang-country {
  grid-column: 3;
}

.lang-other {
  grid-column: 4;
}

.close {
  font-weight: bold;
  font-size: 1.25em;
  text-align: right;
  margin-right: .25em;
}

.close span {
  cursor: pointer;
}

.chooser-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.no-match {
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
}

/* 2019-1-31 https://www.patreondevelopers.com/t/unable-to-center-patreon-button-on-wordpress-site/783/2 */
.patreon-widget {
  width: 178px !important;
}

.selected {
  background-color: green;
  color: white;
}
